@charset "UTF-8";

body{
    color: silver;
    background-color: black;
    font-size: 20px;
}

p{
    line-height: 120%;
    margin: 0;
    padding: 0;
}

p.pnlg_links{
    display: flex;
}

p.pnlg_links a{
    margin: 15px;
    display: block;
}

a{
    font-size: 1.5rem;
    color: goldenrod;
    text-decoration: none;
}

a:hover{
    color: gold;
}